<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Model Deployment</title>
</head>
<body>
    <h1>Model Deployment</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="data_file" class="btn btn-block"/>
        </br>
        </br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
    
</body>
</html>